<tr>
  <td><%=user.id %></td>
  <td><%=user.first_name%></td>
  <td><%=user.last_name%></td>
  <td><%=user.updated_at%></td>
  <td><%=user.email%></td>
  <td><%=user.ask_config_cat_for_key%></td>
</tr>
