<tr>
  <td><%=user.id %></td>
  <td><%=user.first_name%></td>
  <td><%=user.last_name%></td>
  <td><%=user.updated_at%></td>
  <td><%=user.email%></td>
  <td><%=user.config_cat_from_model%></td>
  <td><%=user.config_cat_test_flag%></td>
</tr>
